[workspace]
members = [
    "ast",
    "ir",
    "lineardb",
    "engine",
    "process",
    "irdb",
    "diags",
]

[package]
name = "brink"
version = "1.0.2"
license-file = "LICENSE.txt"
readme = "README.md"
homepage = "https://github.com/steveking-gh/brink"
repository = "https://github.com/steveking-gh/brink"
keywords = ["linker",
            "cli",
            "domain-specific-language",
            "build"]
categories = ["development-tools::build-utils"]
authors = ["Steve King <sk@metrokings.com>"]
edition = "2024"

# See more keys and their definitions at
# https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
lto = 'thin'
panic = 'unwind'
incremental = false
codegen-units = 16
rpath = false

[dependencies]
indextree = "4.3.1"
clap = { version = "2.33.0" }
fern = "0.6.0"
log = "0.4.11"
anyhow = "1.0.34"
process = { path = "./process" }

[dev-dependencies]
assert_cmd = "1.0.1"
predicates = "1.0.5"
serial_test = "0.5.1"
